html {
    font-size: 62.5%
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $font-size-medium;
}

button {
    cursor: pointer;

    &.disabled {
        cursor: default;
    }
}


h1 {

    font-size: 2rem;
}

.is-active {
  font-weight: bold;
}